/**************** Font-family ****************/
.omf-topbar h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.omf-menu__card--note h2, .omf-card--note h2, .omf-card__body__footer h2{
    font-family: 'Devonshire', cursive;
    font-weight: 300;
}

.omf-menu__card--note p, .omf-card--mentions p{
    font-family: 'Itim', cursive;
    font-weight: 400;
    font-style: italic;
}

.omf-menu__card--chic h2, .omf-card--chic h2{
    font-family: 'Croissant One', cursive;
    font-weight: 400;
}

.omf-menu__card--chic p, .omf-card--chic h3{
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
}

.omf-menu__card--delice h2, .omf-card--delice h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

.omf-menu__card--delice p, .omf-menu__card--palette p{
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 400;
    font-style: italic;
}

.omf-menu__card--palette h2, .omf-card--palette h2{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

.omf-next__container__box h2, .omf-bottombar a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.omf-title h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.omf-card--note, .omf-card--delice, .omf-card--palette, .omf-card--mentions h3{
    font-family: "kalam", sans-serif;
    font-weight: 400;
    
}
.omf-card--note{
    ul li p:last-child, .omf-card__body__subtitle h3{
        font-weight: 700;
        }
}
