/**************** Tête de la page ****************/
.omf-topbar{
    grid-row: omf-topbar;
    grid-column: 1;
    background: $background-color;
    a{
        text-decoration: none;
        h1{
            color: $primary-color;
            font-size: 3em;
            text-align: center;
            padding: 20px 0;
            
        }
    } 
}